/*
===============================================
    Importação de fontes externas
===============================================
*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/*
===============================================
    Variáveis Globais (Cores e Fontes)
===============================================
*/
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #ffffff;
    --cor-hover: #f4f5f8;
    --cor-btmenu: #121418;
    --cor-menurodape: rgba(255, 255, 255, 0.027);
    --cor-hover-menu: rgba(250, 250, 246, 0.192);

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

    --fonte-titulo-principal: clamp(1.25rem, 2.5vw, 1.75rem);
    --fonte-titulo-secundario: clamp(1rem, 2vw, 1.5rem);
    --fonte-texto: clamp(0.875rem, 1.5vw, 1rem);
    --fonte-menu: clamp(1rem, 2vw, 1.5rem);
    --fonte-rodape: clamp(0.875rem, 1.5vw, 1rem);
    --fonte-texto-reduzido: 0.5rem;
}

/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    min-height: 100vh;

    /* Fundo responsivo */
    background: url('../assets/fundo3.png') no-repeat center center fixed;
    background-size: cover;
    background-color: var(--cor-primaria);

    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.797); /* camada escura */
    z-index: -1;
}

/* Faz o body ocupar toda a tela e usar flexbox */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Logo */
.logo {
    display: block;
    position: relative;
    margin: 20px auto 0 auto; /* topo 20px e centralizada */
    width: clamp(80px, 20vw, 150px);
}

/* Cabeçalho */
.cabecalho {
    padding: 8rem 0 2rem 0;
    text-align: center;
}

/* Botão menu mobile */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--cor-secundaria);
    cursor: pointer;
    margin-bottom: 1rem;
    z-index: 11;
}

/* Menu de navegação */
.cabecalho__menu {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    background-color: var(--cor-menurodape);
    padding: 1rem;
    transition: max-height 0.3s ease;
}

.cabecalho__menu__link {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out;
}

.cabecalho__menu__link:hover,
.cabecalho__menu__link.active {
    background-color: var(--cor-hover-menu);
    color: var(--cor-terciaria);
}

/* Cards gerais */
.card {
    --background: linear-gradient(to right, #74ebd5 0%, #acb6e5 100%);
    width: 100%;
    max-width: 200px;
    padding: 5px;
    border-radius: 1rem;
    background: var(--background);
    position: relative;
}

.card-info {
    --color: #d43c0c;
    background: var(--color);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: .7rem;
    text-align: center;
}

.card-image {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: .5rem;
    margin-bottom: 10px;
    padding: 0.5rem;
}

.card:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease-in-out;
}

/* Sessões gerais */
.sessao1 {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.carregando {
    margin-top: 250px;
    display: flex;
    justify-content: center;
}

.carregando__gif {
    width: 150px;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Seções de Boss */
.boss-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem auto;
    max-width: 800px;
}

.boss-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.boss-img {
    max-width: 80%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

/* Imagens dos mapas e mini-bosses */
.cardboss img,
.cardboses img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0.75rem auto;
    border-radius: 0.5rem;
}

.shiny {
    background: linear-gradient(to right, #74ebd5 0%, #acb6e5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cardslide {
    --background: linear-gradient(to right, #74ebd5 0%, #acb6e5 100%);
    width: 100%;
    max-width: 650px;
    aspect-ratio: 16 / 9;
    padding: 5px;
    border-radius: 1rem;
    overflow: hidden;
    background: var(--background);
    position: relative;
    z-index: 1;
}

.slider {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.apresentacao__conteudo__titulo {
    font-size: var(--fonte-titulo-principal);
    font-family: var(--fonte-primaria);
    margin-bottom: 1.5rem;
    text-align: left;
}

.apresentacao__conteudo__texto {
    font-size: var(--fonte-texto);
    font-family: var(--fonte-secundaria);
    margin-bottom: 2rem;
    text-align: left;
}

.rodape {
    color: var(--cor-secundaria);
    background-color: var(--cor-hover-menu);
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-rodape);
    font-weight: 400;
    margin-top: 5rem;
}

.sessaoapresentacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    margin-bottom: 6rem;
}

/* Media Queries */
@media (max-width: 1200px) {
    .cabecalho__menu {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 700px) {
    body, html {
        overflow-x: hidden;
    }

    .cabecalho {
        padding: 6rem 0 1rem 0;
    }

    .menu-toggle {
        display: block;
    }

    .cabecalho__menu {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .cabecalho__menu.active {
        display: flex;
    }

    .sessaoapresentacao {
        flex-direction: column;
        padding: 1rem;
    }

    .cardslide {
        max-width: 350px;
    }

    .boss-img {
        max-width: 90%; /* reduz boss principal */
    }

    .cardboss img,
    .cardboses img {
        max-width: 95%; /* reduz imagens de mapas */
    }

    .apresentacao__conteudo__titulo {
        font-size: clamp(1rem, 4vw, 1.5rem);
        text-align: center;
    }

    .apresentacao__conteudo__texto {
        font-size: clamp(0.8rem, 2.5vw, 1rem);
        text-align: center;
    }

    .rodape {
        margin-top: 3rem;
        padding: 1rem;
    }
}
